beautifulsoup4==4.6.3
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
python-dateutil
six==1.15.0
rsa==4.0
Werkzeug==0.11.10
requests
pafy
urllib3==1.24.2
youtube-dl
certifi==2020.4.5.1
chardet==3.0.4
humanfriendly
humanize
datetime
html5lib
lxml
hyper
httpx
qrcode
ffmpeg-python
pillow
MoviePy
python-magic
paramiko
pycryptodome
bs4
timeago
humanize
nodejs
livejson
html5lib
mechanize
pillow
pyasn
pyreadline
python-dotenv
sniffio
tornado
python-axolotl-curve25519
httpcore
gtts
wikiapi
wikipedia
kbbi
googletrans
